body {
    background-image: url(../images/background.jpg);    
}
#startbtn, #end-button {
    background-color: aquamarine; 
    font-size: 48px;
    font-family: fantasy;   
    margin-top: 15%;
}
#end-button {
    width: 50%; 
    font-size: 30px;
    margin:auto;
}
#end-button:hover {
    background-color: orange;
}
#content-container {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 530px;
    background-color: gray;
    padding-top: 50px;
    margin-top: 75px;
    background-image: url(../images/content-background.jpg);    
}
img {
    width: 30%;
    object-fit: fill;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
.ques {
    width: 25%;
    background-color: white;
    margin:auto;
    text-align: left;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 15px;

}
#question {
width: 50%;
background-color: white;
margin:auto;
border-radius: 15px;
}
#notimeorwrong {
    width: 30%;
    font-size: 40px;
    background-color: white;
    margin:auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.incorrectanswer {
    font-size: 24px;
    background-color: white;
    width: 30%;
    margin:auto;    
   

}

.ques:hover {
    background-color: orange;
}
#maintitle {
width: 55%;
background-color: white;
margin:auto;
border-radius: 15px;
margin-bottom: 2%;
font-size: 60px;
}
#timer {
    color:wheat;
    font-size: 24px;
    font-weight: bolder;
}
.scores {
    width: 40%;
    background-color: white;
    margin:auto;
    text-align: left;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 15px;
}